# {{projectName}}

{{description}}

<!-- consumer badges -->
{{#badges.consumer}}{{.}}{{/badges.consumer}}

<!-- status badges -->

<!-- contribution badges -->

{{#references}}
[{{key}}]: {{{value}}}
{{/references}}
